extends layout

block content
  .row.padded-top.border-top
    .col-md-4
      .row
        .col-md-10.col-md-offset-1.border-bottom.padded-bottom
          img(src='/img/alex.png', class='img-responsive img-rounded')
      .row.padded-top
          include includes/contact
    .col-md-8.border-left
      p
        :markdown
          I am a [Computer Science Engineering](http://cse.eecs.umich.edu) undergraduate 
          student at the University of Michigan. My research interests center
          around computer security and internet measurement. In June of 2018 I 
          will begin working Full-time at [Duo Security](duo.sc). 
      p
        :markdown
          I am working towards a Bachelor's Degree in Computer Science Engineering with a
          [Music Minor](http://www.music.lsa.umich.edu) from the University
          of Michigan. As part of undergraduate research I maintain
          [ZGrab](https://github.com/zmap/zgrab), and the [Censys
          Search Engine](https://www.censys.io). I also wrote [ZGrab2](https://github.com/zmap/zgrab2), 
          a framework for application-layer scanning.
          Since January of 2017 I've been an instructional aide for the undergraduate
          computer security course at Michigan, [EECS 388](https://eecs388.org).
          I have also been a peer mentor in a learning community and a manager in the 
          dining hall where I developed an attendance monitoring software.
      p
        :markdown
          I am also an accomplished percussion performer and have performed with
          the Cavaliers Drum and Bugle Corps, Legends Drum and Bugle Corps, Legends
          Winter Percussion, Genesis Winter Percussion, University of Michigan
          University Band and have participated in various performances/recitals.
          See videos on my Music page.
      p
        :markdown
          I grew up in Grand Rapids, Michigan. I attended Kenowa Hills High School, where
          I spent a lot of time playing music in the band room.
          In my spare time I enjoy reading and kayaking on the Huron river.
      p
        :markdown
          I can be reached at [ajholland@umich.edu](mailto:ajholland@umich.edu),
          or [ajholland77@gmail.com](mailto:ajholland77@gmail.com). Follow me
          on Twitter [@ajh0lland](https://twitter.com/ajh0lland).

// 
    Website design shamelessly stolen from David Adrian, dadrian.io
