extends layout

block content
  .row.padded-top.border-top
    .col-md-4
      .row
        .col-md-10.col-md-offset-1.border-bottom.padded-bottom
          img(src='/img/alex.png', class='img-responsive img-rounded')
      .row.padded-top
          include includes/contact
    .col-md-8.border-left
      p
        :markdown
          I am a [Computer Science Engineering](http://cse.eecs.umich.edu) undergraduate 
          student in my final semester at the University of Michigan. I will graduate with a 
          Bachelor's Degree in Computer Science Engineering and a [Music Minor](https://www.music.lsa.umich.edu). After graduation, I will be
          starting a full-time position as a Quality Engineer at [Duo Security](http://duo.sc) in June 2018. 
      p
        :markdown
          I work with [Professor Alex Halderman](https://jhalderm.com)'s research group, where we use 
          Internet-wide measurement to answer computer security research questions at global scale.
          As part of this I help maintain
          [ZGrab](https://github.com/zmap/zgrab), and the [Censys
          Search Engine](https://www.censys.io), and began the [rewrite](https://github.com/zmap/zgrab2) 
          of ZGrab into a generic framework for application-layer scanning.
      p
        :markdown
          I have been a teaching assistant for the undergraduate computer security course
          ([EECS 388](https://eecs388.org)) for three semesters, since January 2017.
          Previously, I was a peer mentor in the Living Arts residential learning community on campus and a manager in the 
          Bursley dining hall. As a dining hall manager, I developed and deployed an attendance monitoring software system.
      p
        :markdown
          I am also an accomplished percussion performer and have performed with
          the [Cavaliers Drum and Bugle Corps](https://cavaliers.org), [Legends Drum and Bugle Corps](https://legendspaa.org), [Legends
          Winter Percussion](https://legendspaa.org), [Genesis Winter Percussion](https://genesis-percussion.org), [University of Michigan
          University Band](https://smtd.umich.edu/current_students/perf_opps/bands.htm) and have participated in various performances/recitals.
          See videos on my [Music](/music) page.
      p
        :markdown
          I grew up in Grand Rapids, Michigan where I attended Kenowa Hills High School. 
          You could have found me more often than not playing music in the band room.
          In my spare time I enjoy reading and kayaking on the Huron river.
      p
        :markdown
          I can be reached at [ajholland@umich.edu](mailto:ajholland@umich.edu),
          or [ajholland77@gmail.com](mailto:ajholland77@gmail.com). Follow me
          on Twitter [@ajh0lland](https://twitter.com/ajh0lland).

// 
    Website design shamelessly stolen from David Adrian, dadrian.io
