extends layout

block content
  .row
    .col-md-10.col-md-offset-1
      h1.text-center Musical Endeavours
      .row
        .col-md-10.col-md-offset-1
          p
            :markdown
              I have been blessed to perform with exceptional musicians
              at stellar groups with incredible instructors. I have a passion for front ensembles 
              and marching percussion. I am available to teach fall marching bands and winter 
              percussion groups in the Ann Arbor/Detroit area.
          hr
      .row
        .col-md-2.col-md-offset-1
          b Cavaliers 2016
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/47xZpqq0nFg?rel=0", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Sophomore Recital
        .col-md-8
          b
      .row
        .col-md-2.col-md-offset-1
          b Drum Corps I&E 2015
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/cYyMc_tE09c", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Legends 2015
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/s2twrSDwum0", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Legends 2014
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/fHpmzB7YfVE", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Genesis Winter Percussion 2014
        .col-md-8
          b
            a
      .row
        .col-md-2.col-md-offset-1
          b Legends 2013
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/ShjWxBLBxOc", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Legends Winter Percussion 2013
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/GP7MvpHbZOM", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
        .col-md-8
          p
            :markdown
             I've also performed with the University of Michigan University and Campus bands for multiple semesters and taken lessons (for credit) with [Colin McCall](https://www.colinkmccall.com/). 
