extends layout

block content
  .row
    .col-md-10.col-md-offset-1
      h1.text-center Musical Endeavors
      .row
        .col-md-10.col-md-offset-1
          p
            :markdown
              I am available to teach fall marching bands and winter percussion groups in
              the Ann Arbor/Detroit area for the foreseeable future.
          p
            :markdown
              I have been blessed to have the opportunity to perform with exceptional musicians
              in stellar groups with un-paralleled instructors which have further developed my passion for front ensembles 
              and marching percussion. I am available to teach fall marching bands and winter 
              percussion groups in the Ann Arbor/Detroit area.
          p
            :markdown
             In addition to the videos below, I've performed with the University of Michigan University and Campus bands for multiple semesters and taken lessons (for credit) with [Colin McCall](https://www.colinkmccall.com/). 
          hr
      .row
        .col-md-2.col-md-offset-1
          b Cavaliers 2016
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/47xZpqq0nFg?rel=0", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Sophomore Recital
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/videoseries?list=PLWfMHD95JHIZE4sDP3xskyxKwP1mFYQXy&amp;ecver=1", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Drum Corps I&E 2015
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/cYyMc_tE09c", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Legends 2015
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/s2twrSDwum0", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Legends 2014
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/fHpmzB7YfVE", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Genesis Winter Percussion 2014
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/sOwUtaPY8aM", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Legends 2013
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/ShjWxBLBxOc", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
      .row
        .col-md-2.col-md-offset-1
          b Legends Winter Percussion 2013
        .col-md-8
          b
            iframe(width="560", height="315", src="https://www.youtube.com/embed/GP7MvpHbZOM", frameborder="0", gesture="media", allow="encrypted-media", allowfullscreen='allowfullscreen')
