.row
  .col-xs-4.text-right
    i Email:
  .col-xs-8.text-left
    a(href='mailto:ajholland@umich.edu') ajholland@umich.edu
    br
    a(href='mailto:ajholland77@gmail.com') ajholland77@gmail.com
.row
  .col-xs-4.text-right
    i Twitter:
  .col-xs-8.text-left
    a(href='https://twitter.com/ajh0lland') @ajh0lland
.row
  .col-xs-4.text-right
    i GitHub:
  .col-xs-8.text-left
    a(href='https://github.com/ajholland') ajholland   
.row 
  .col-xs-4.text-right
    i Keys:
  .col-xs-8.text-left
    a(href='https://keybase.io/ajholland') Keybase
    br
